@{
    ViewBag.Title = "Home Page";
}

<div class="control-section" style="margin-top:50px;">
    <div class="control_wrapper accordion-control-section">
 
    <ul id="navigation">
        <li class="list-group-item"><a href="/Home/Index">Dokumenty</a></li>

    </ul>
 
        </div>
    </div>



    <div id="body_content" class="maincontent">
        <div style="padding: 1.5vw 3vw;">

        </div>
    </div>


    <h6></h6>

